<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.arifian.networkstatelistener.lib">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">


        <receiver
            android:name=".NetworkStateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="100">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
